body *{
    box-sizing: border-box;
}
section{
    width: 1400px;
    height: 100%;
    min-width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.inner-left{
    width: 400px;
    height: 1000px;
    border: 1px solid #7A97CC;
    border-radius: 45px;
}
#map {
    margin-left: 50px;
    width: 60%;
    height: 600px;
    position: relative;
    border: 1px solid #7A97CC;
    border-radius: 45px;

}
.spinner-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #7A97CC;
}