<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectShoppingListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
		 WHERE STATUS = 'Y'
	</entry>
	<entry key="selectShoppingList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		     FROM (SELECT PRODUCT_NO,
		                  PRODUCT_NAME,
		                  PRICE
		              FROM PRODUCT 
		             WHERE STATUS = 'Y'
		             ORDER BY PRODUCT_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectAttachmentProduct">   
		SELECT PRODUCT_NO,
			   PRODUCT_NAME,
			   FILE_PATH || CHANGE_NAME AS "TITLE_IMG",
			   PRICE,
			   STAR,
			   R.COUNT(*),
			   PRODUCT_CATEGORY
		  FROM PRODUCT P
		  JOIN REVIEW R USING(PRODUCT_NO) 
		  JOIN ATTACHMENT_PRODUCT ON(PRODUCT_NO = REF_PNO)
		 WHERE PRODUCT_NO = ?
		   AND P.STATUS = 'Y'
		   AND FILE_LEVEL = 1   
	</entry>
</properties>