<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectShoppingListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
		 WHERE STATUS = 'Y'
	</entry>
	<entry key="selectShoppingList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		      FROM (SELECT PRODUCT_NO,
		                   PRODUCT_NAME,
		                   PRICE,
		                   PRODUCT_CATEGORY,
		                   FILE_PATH || CHANGE_NAME AS "PRODUCT_IMG"
		              FROM PRODUCT P 
		              JOIN ATTACHMENT_PRODUCT ON (PRODUCT_NO = REF_PNO)
		             WHERE P.STATUS = 'Y'
		               AND MOD(TO_NUMBER(FILE_NO), 2) = 1
		             ORDER BY PRODUCT_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectDogList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		      FROM (SELECT PRODUCT_NO,
		                   PRODUCT_NAME,
		                   PRICE,
		                   PRODUCT_CATEGORY,
		                   FILE_PATH || CHANGE_NAME AS "PRODUCT_IMG"
		              FROM PRODUCT P 
		              JOIN ATTACHMENT_PRODUCT ON (PRODUCT_NO = REF_PNO)
		             WHERE P.STATUS = 'Y'
		               AND MOD(TO_NUMBER(FILE_NO), 2) = 1
		               AND PRODUCT_CATEGORY = "고양이"
		             ORDER BY PRODUCT_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>