<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectShoppingListCount">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
		 WHERE STATUS = 'Y'
	</entry>
	<entry key="selectShoppingList">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		     FROM (SELECT PRODUCT_NO,
		                  PRODUCT_NAME,
		                  PRICE
		              FROM PRODUCT 
		             WHERE STATUS = 'Y'
		             ORDER BY PRODUCT_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>