body{
    width: 1400px;
    min-width: 1400px; /* 최소 너비 설정 */
    margin: auto;
}

body *{
    box-sizing: border-box;
    
}

div{
   
}

/* ************** menubar *************** */

#menubar{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 1400px;
    height: 80px;
    border-bottom: 1px solid rgb(232, 231, 231);
    margin: auto;
    margin-bottom: 20px;
}

#animal-category{
    height: 40px;
    display: flex;
    min-width: 1400px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
}

#animal-category a{
    width: 50px;
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-weight: 600;
}


#search-area{
    min-width: 1400px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
}

#search-area > input[type="search"]{
    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(201, 201, 201);
}

#search-area > input[type="button"]{
    width: 30px;
    border-radius: 0 10px 10px 0;
    border: 1px solid rgb(201, 201, 201);
    font-size: 10px;
    height: 30px;
}

/* ************** product *************** */
#products{
    margin: auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#dogproduct-line1{
    width: 1400px;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content: space-around;
}

.dogFood{        
    width: 150px;
    display: inline-block;
}

#none-list{
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.product_1-img{
    width: 100%;
    height: 100%;
}

.dogFood-img{
    border: 2px solid rgb(225, 222, 222);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dog-img1{
    width: 100%;
    height: 100%;
    background: url(/petplace/images/dogproduct1.jpg);
}

.dogFood-name{
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
}

.dogFood-price{
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}

.dogFood-etc{
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}

#stars{

    color: rgb(239, 239, 50);
}

#buttons > button{
    padding-inline: 6px;
    background: none;
    border: none;
    font-weight: 600;
}