<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- settings : mybatis 구동시 선언할 설정들을 작성하는 영역-->
  <settings>
<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라 -->
    <setting name="jdbcTypeForNull" value="NULL" />

  </settings>
<!-- typeAliases : VO/DTO클래스들의 풀클래스명을 단순한 클래스명(별칭)으로 사용하기 위해 별칭 등록을 하는 영역 -->
<typeAliases>
  <typeAlias type="com.petplace.purchase.model.dto.PurchaseList" alias="PurchaseList"/>
  <typeAlias type="com.petplace.community.model.vo.Community" alias="Community"/>
  <typeAlias type="com.petplace.community.model.vo.CommunityAttachment" alias="CommunityAttachment"/>
  <typeAlias type="com.petplace.shopping.model.vo.Shopping" alias="Shopping"/>
  <typeAlias type="com.petplace.shopping.model.dto.ShoppingList" alias="ShoppingList"/>
<!--  <typeAlias type="com.petplace.shopping.model.dto.ShoppingDetailList" alias="selectDetailProduct"/>-->
  <typeAlias type="com.petplace.shopping.model.dto.ShoppingDetailList" alias="ShoppingDetailList"/>
  <typeAlias type="com.petplace.shopping.model.dto.ShoppingComplete" alias="ShoppingComplete"/>
  <typeAlias type="com.petplace.purchase.model.vo.Purchase" alias="Purchase"/>
  <typeAlias type="com.petplace.review.model.dto.ReviewList" alias="ReviewList"/>
  <typeAlias type="com.petplace.review.model.vo.Review" alias="Review"/>
  <typeAlias type="com.petplace.product.model.vo.Product" alias="Product"/>
  <typeAlias type="com.petplace.product.model.vo.AttachmentProduct" alias="AttachmentProduct"/>
  <typeAlias type="com.petplace.admin.model.dto.Category" alias="Category"/>
  <typeAlias type="com.petplace.inquiry.model.dto.InquiryList" alias="InquiryList"/>
  <typeAlias type="com.petplace.inquiry.model.vo.Inquiry" alias="Inquiry"/>
  <typeAlias type="com.petplace.adopt.model.vo.Adopt" alias="Adopt"/>
  <typeAlias type="com.petplace.adopt.model.vo.AdoptAttachment" alias="AdoptAttachment"/>
  <typeAlias type="com.petplace.community.model.vo.BoardComment" alias="BoardComment"/>
  <typeAlias type="com.petplace.member.model.dto.HashedMember" alias="HashedMember"/>
  <typeAlias type="com.petplace.shopping.model.dto.UserInfo" alias="UserInfo"/>
  <typeAlias type="com.petplace.member.model.vo.Member" alias="Member"/>
  <typeAlias type="com.petplace.mypage.model.dto.Petinfo" alias="Petinfo"/>
  <!-- Common -->
  <typeAlias type="java.util.HashMap" alias="HashMap"/>
  <typeAlias type="java.util.List" alias="List"/>
</typeAliases>
    <!-- environments : mybatis에서 연동할 db정보들을 등록하는 영역 -->
  <environments default="development">
    <environment id="development">
        <!--
            transactionManager : JDBC | MANAGED 둘 중 하나의 타입을 설정할 수 있다.
             - JDBC : 트랜잭션을 내가 직접 관리
             - MANAGED : 트랜잭션에 대해서 어떠한 영향도 행사하지 못함 (AutoCommit)
        -->
      <transactionManager type="JDBC"/>
        <!--
            dataSource : POOLED | UNPOOLED  (connectionPool 사용 여부)
            connectionPoll : Connection 객체를 담아둘 수 있는 영역으로
              Connection 객체를 반납하지 않고 connectionPool에 두고 다시 요청시 그걸 가져다 재사용(속도 향상)
        -->
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="PETPLACE"/>
        <property name="password" value="PETPLACE"/>
      </dataSource>
    </environment>
  </environments>

<!--mappers : 실행할 sql문들을 기록해둔 mapper 파일들을 등록하는 영역 -->
  <mappers>
    <mapper resource="/mappers/purchase-mapper.xml"/>
	<mapper resource="/mappers/community-mapper.xml"/>
    <mapper resource="/mappers/product-mapper.xml"/>
    <mapper resource="/mappers/review-mapper.xml"/>
    <mapper resource="/mappers/inquiry-mapper.xml"/>
    <mapper resource="/mappers/shopping-mapper.xml"/>
    <mapper resource="/mappers/adopt-mapper.xml"/>
    <mapper resource="/mappers/member-mapper.xml"/>
    <mapper resource="/mappers/mypage-mapper.xml"/>
  </mappers>
</configuration>