body * {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-width: 1143px;
}

header {
    width: 1400px;
    margin: auto;
}

header > #header-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid #c4c4c4;

}

header a {
    text-decoration: none;
    color: black;
}

#user {
    cursor: pointer;
    border: none;
}

header {
    position: relative;
}

#user-info {
    position: absolute;
    top: 100%;
    right: 10px;
    border: 1px solid black;
    width: 250px;
    height: 280px;
    background: rgb(239, 244, 255);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
}

#user-info > p {
    text-align: center;
    width: 100%;
    height: 15%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
}

#user-img {
    width: 100%;
    height: 20%;
    background: url(../../images/user.png) no-repeat center/contain;
    margin-top: 15px;
}

#login-form {
    text-align: center;
}

#user > img {
    background-color: white;
}
.hide{
    display: none ;
}
.expose{
    display: block ;
}