* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F7F7F7;
}

.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40; 
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo h1 {
    font-size: 24px;
    color: #D4E1FA;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content {
    display: flex;
    width: 100%;
}

aside {
    width: 130px; 
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 100vh; /* 화면 높이에 맞게 확장 */
    position: sticky;
    top: 0; /* 스크롤 시에도 고정 */
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 20px;
}

aside ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

aside ul li a.active {
    font-weight: bold;
    color: #D4E1FA;
}

main {
    flex-grow: 1;
    padding: 20px 40px; 
    background-color: white;
}

main h2 {
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.agreement {
    margin-bottom: 40px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox input {
    margin-right: 10px;
}

.agreement textarea {
    width: 100%;
    max-width: 100%; 
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #F7F7F7;
    font-size: 14px;
}

@media (max-width: 768px) {
    .agreement textarea {
        height: 120px; 
    }
}


.details {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

button {
    display: block;
    width: 200px; 
    padding: 15px;
    font-size: 18px;
    background-color: #CBD7FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0; 
}

button:hover {
    background-color: #D4E1FA;
}


@media (max-width: 768px) {
    .agreement textarea {
        height: 120px;
    }
}