body * {
    box-sizing: border-box;
}
body div{
    border: 1px solid black;
}
section{
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

nav{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 20px;*/
}
nav div{
    width: 100%;
    height: 60px;
    text-align: center;
}
nav div:nth-child(1){
    border-top: 2px solid black;
}
nav div:nth-child(6){
    border-bottom: 2px solid black;
}


#wrap{
    width: calc(100% - 200px);
}