body * {
    box-sizing: border-box;
}

#wrap {
    width: calc(100% - 200px);
    text-align: center;
}

#wrap > table {
    margin: auto;
    border-spacing: 0 15px; /* 15px 간격을 위아래로 줍니다 */
}
#wrap > table >thead{
    border-bottom:1px solid #c4c4c4;
}
#wrap > table th{
    padding-bottom: 10px;
}
#wrap > table + tbody > tr:nth-child(1){
    padding-top: 15px;
}
#wrap > table th:nth-child(1){ width: 80px;}
#wrap > table th:nth-child(2){width: 100px;}
#wrap > table th:nth-child(3){width: 80px;}
#wrap > table th:nth-child(4){width: 300px;}
#wrap > table th:nth-child(5){width: 90px}
#wrap > table th:nth-child(6){width: 110px}
#wrap > table th:nth-child(7){width: 110px}
#wrap > table th:nth-child(8){width: 300px}
#wrap > table th:nth-child(9){width: 100px}
#wrap > table th:nth-child(10){width: 200px}
.btn-secondary {
    background-color: #7A97CC !important;
}
tbody img{
    width: 20px;
    height: 20px;
}