body * {
    box-sizing: border-box;
}

#wrap {
    width: calc(100% - 200px);
    display: flex;
}

#wrap > #content-left {
    width: 50%;
    position: relative;
}

#wrap > #content-left button {
    float: right;
    margin-right: 50px;
}

.btn-secondary {
    background-color: #7A97CC !important;
}

#wrap > #content-right {
    width: 50%;
}

.input-group-text {
    background-color: #8aa2ce !important;
    color: white !important;
}
