nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #ccc;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav label {
    font-size: 16px;
    color: #333;
}

.sidebar-wrapper {
    flex: 0 0 200px; /* 사이드바 고정 너비 */
    margin-right: 20px;
}
