*{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

.list-btn{
    text-decoration-line: none;
    color: black;
}

#table-head > tr > th{
    background-color: #dae0ec !important;
}

#category{
    display: flex;
    justify-content: center;
    
    gap: 100px;
}

#category div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #dae0ec;
    border: 1px solid #b2b6b9;
    width: 80px;
    height: 35px;  
}

#category div a{
    color: rgb(66, 66, 66);
}

.search-bar{
    float: right;
    border-radius: 10px;
    border: 1px solid #b2b6b9;
    padding-left: 10px;
}

.search-bar:focus{
    outline: none;
}

.table-list{
    min-height: 550px;
}

.table > tbody > tr:hover{
    background-color: #cccccc;
    cursor: pointer;
}

#write{
    display: flex;
    justify-content: right;
    
    gap: 100px;
}

#write div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #b2b6b9;
    width: 80px;
    height: 35px;
}

/*-------------------- PageNation --------------------*/
#pagenation {
    width: 100%;
    margin: auto;
    /*text-align: center;*/
    margin-top: 50px;
}

#pagenation nav {
    margin: auto;
}

.page-item * {
    color: #7A97CC !important;
}

.hide {
    display: none !important;
}

.pagination > .active > a {
    color: white !important;
    background-color: #7A97CC !Important;
    border: solid 1px #7A97CC !Important;
    
}
