body{
    width: 1400px;
    min-width: 1400px; /* 최소 너비 설정 */
    margin: auto;
}

div{
    box-sizing: border-box;
}

body p{
    margin: 0;
    font-family: sans-serif;
}

/* 글 제목 및 내용 */
.community-info-content{
    width: 1400px;
    margin: auto;
    margin-top: 50px;
}

.community-info{
    width: 75%;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(218, 224, 236, 1);
    padding: 5px 15px 0px 15px;
    margin: auto;
    margin-bottom: 10px;
}

#community-info-title{
    width: 100%;
    height: 45%;
    font-weight: 600;
}

#community-info-two{
    display: flex;
    padding-top: 10px;
    font-weight: 600;
}

#community-info-nick{
    width: 10%;
}

#community-info-date{
    width: 65%;
}

#community-recommend-count{
    width: 10%;
}

#community-select-count{
    width: 10%;
}

#community-info-two button{
    border: none;
    background-color: rgba(218, 224, 236, 1);
    font-weight: 600;
    writing-mode: horizontal-tb;
    width: 5%;
}

.community-content{
    width: 65%;
    height: 400px;
    overflow: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* 추천 비추천 */
.community-recommend-type{
    width: 170px;
    height: 70px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 5px 10px 3px 10px;
}

#community-recommend{
    height: 100%;
}

#community-recommend > form > button{
    height: 60%;
    border: none;
    background-color: rgb(189, 189, 189);
    border-radius: 50px;
    display: block;
    margin: auto;
}

#community-recommend > form > button > img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#community-recommend > p{
    width: 100%;
}

#community-none-recommend{
    height: 100%;
    align-items: center;
}

#community-none-recommend > form > button{
    height: 60%;
    border: none;
    background-color: rgb(189, 189, 189);
    border-radius: 50px;
    display: block;
    margin: auto;
}

#community-none-recommend > form > button > img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
}

#community-none-recommend > p{
    width: 100%;
}

.community-reply-area{
    width: 1400px;
    margin: auto;
    margin-top: 20px;
}

/* 댓글 목록 및 입력 */
#reply-area-etc{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#reply-area-etc > button{
    border: none;
    background-color: white;
}

.community-reply-list-insert{
    width: 65%;
    margin: auto;
    padding: 10px 10px 0px 10px;
}

#community-reply-list{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
}

#community-reply-user-img{
    width: 7%;
}

#community-reply-user-img > img{
    width: 50px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
}

#nick-content-etc{
    width: 93%
}

#reply-nick{
    font-weight: 600;
    padding-bottom: 10px;
}

#reply-content{
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
}

#date-modify-delete{
    display: flex;
}

#date-modify-delete > p{
    width: 90%;
    font-size: 12px;
}

#date-modify-delete > button{
    border: none;
    width: 5%;
    background-color: white;
}

#community-reply-insert{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
}

#community-reply-insert > p{
    font-weight: 600;
    padding-bottom: 5px;
}

#community-reply-insert > textarea{
    border: none;
    padding: 0;
}

#community-reply-insert > div{
    display: flex;
    justify-content: space-between;
}

#community-reply-insert > div > button{
    border: none;
    background-color: white;
}

#reply-content-insert{
    font-weight: 600;
    opacity: 0.3;
}
