<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adoptMapper">
    <resultMap id="adoptListSet" type="Adopt">
        <result column="BOARD_NO" property="boardNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_DETAIL" property="boardDetail"/>
        <result column="BOARD_DATE" property="boardDate"/>
        <result column="BOARD_VIEWS" property="boardViews"/>
        <result column="PLACE" property="place"/>
        <result column="FIND_DATE" property="findDate"/>
        <result column="TYPE" property="type"/>
        <result column="FILE_PATH" property="adoptImg"/>
    </resultMap>
    
    <select id="selectAdoptListCount" resultType="_int">
    	SELECT COUNT(*) AS "COUNT"
    	  FROM SALE_MISSING
    	 WHERE TYPE = #{boardType}
    </select>
    <select id="selectAdoptList" resultMap="adoptListSet">
    	SELECT S.BOARD_NO,
    		   MEMBER_ID,
    		   BOARD_TITLE,
    		   BOARD_DETAIL,
    		   BOARD_DATE,
    		   BOARD_VIEWS,
    		   PLACE,
    		   FIND_DATE,
    		   S.TYPE,
    		   FILE_PATH || CHANGE_NAME AS "TITLE_IMG"
    	  FROM SALE_MISSING S
    	  JOIN MEMBER USING (MEMBER_ID)
    	  JOIN ATTACHMENT_ADOPT ON (REF_ANO = BOARD_NO)
    	 WHERE S.TYPE = #{boardType}
    	 ORDER BY S.BOARD_NO DESC
    </select>
</mapper>