<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <insert id="enrollMember" parameterType="HashedMember">
    Insert into member(
        MEMBER_ID,
        MEMBER_PWD,
        MEMBER_NAME,
        NICKNAME,
        PHONE,
        MEMBER_NUMBER,
        MEMBER_ADDRESS,
        SALT
        )
        values(
        #{memberId},
        #{memberPwd},
        #{memberName},
        #{nickName},
        #{phone},
        #{memberNo},
        #{address},
        #{salt}
        )
    </insert>
    <select id="selectHashedMember" parameterType="String" resultType="HashedMember">
        select MEMBER_ID as memberId,
        MEMBER_PWD as memberPwd,
        MEMBER_NAME as memberName,
        NICKNAME,
        PHONE,
        MEMBER_NUMBER as memberNo,
        MEMBER_ADDRESS as address,
        SALT
        from member
        where MEMBER_ID = #{userId}
    </select>
    <select id="checkId" parameterType="String" resultType="_int">
        select count(*)
        from member
        where MEMBER_ID = #{checkId}
    </select>
</mapper>