<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">
    <resultMap id="reviewListSet" type="ReviewList">
        <result column="REVIEW_NO" property="reviewNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="STAR" property="star"/>
        <result column="REVIEW_DETAIL" property="reviewDetail"/>
        <result column="REVIEW_DATE" property="reviewDate"/>
    </resultMap>

    <select id="selectListCount" resultType="_int">
        select count(*) as "count"
        from review
    </select>
    <select id="selectReviewList" resultMap="reviewListSet">
        select REVIEW_NO,
        MEMBER_ID,
        PRODUCT_NAME,
        STAR,
        REVIEW_DETAIL,
        TO_CHAR(REVIEW_DATE,'YYYY/MM/DD') AS "REVIEW_DATE"
        from REVIEW r
        join product using(PRODUCT_NO)
        order by REVIEW_NO DESC
    </select>
    <delete id="deleteReview" parameterType="_int">
        delete from review
        where review_no = #{reviewNo}
    </delete>
</mapper>