<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="shoppingMapper">
	<resultMap id="shoppingResultSet" type="Shopping">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_CATEGORY" property="productCategory"/>
		<result column="COMPANY" property="company"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="INVENTORY" property="inventory"/>
		<result column="INGREDIENT" property="ingredient"/>
		<result column="ORIGIN" property="origin"/>
		<result column="PRODUCT_WEIGHT" property="productWeight"/>
		<result column="KCAL" property="kcal"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="PRODUCT_IMG" property="productImg"/>
	</resultMap>
	
	<resultMap id="shoppingAllList" type="ShoppingList">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_CATEGORY" property="productCategory"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_IMG" property="productImg"/>
		<result column="STAR" property="star"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="PRODUCT_IMG" property="productImg"/>
	</resultMap>
	
	<resultMap  id="selectDetailResultSet" type="ShoppingDetailList">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_IMG" property="productImg"/>
		<result column="FILE_PATH" property="detailImg"/>
		<result column="FILE_LEVEL" property="fileLevel" javaType="int"/>
		<result column="REVIEW_COUNT" property="reviewCount"/> <!-- reviewCount -->
		<result column="AVG_STAR" property="Star"/>
		<result column="COMPANY" property="company"/>
		<result column="INGREDIENT" property="ingredient"/>
		<result column="ORIGIN" property="origin"/>
		<result column="PRODUCT_WEIGHT" property="productWeight"/>
		<result column="KCAL" property="kcal"/>
	</resultMap>
	
	<select id="selectShoppingListCount" resultType="_int">
		SELECT COUNT(*) AS "COUNT"
		  FROM PRODUCT
		 WHERE STATUS = 'Y'
	</select>
	<select id="selectShoppingList" resultMap="shoppingAllList">
			SELECT P.PRODUCT_NO,
			       P.PRODUCT_NAME,
			       P.PRICE,
			       A.FILE_NO,
			       A.FILE_PATH || A.CHANGE_NAME AS PRODUCT_IMG,
			       COUNT(R.REVIEW_NO) AS REVIEW_COUNT,   -- 리뷰 개수
			       AVG(R.STAR) AS AVG_STAR,              -- 평균 별점
			       P.COMPANY,
			       P.INGREDIENT,
			       P.ORIGIN,
			       P.PRODUCT_WEIGHT,
			       P.KCAL
			  FROM PRODUCT P
			  LEFT JOIN REVIEW R ON P.PRODUCT_NO = R.PRODUCT_NO
			  JOIN ATTACHMENT_PRODUCT A ON P.PRODUCT_NO = A.REF_PNO
			 WHERE P.STATUS = 'Y'
	         	   AND A.FILE_LEVEL = 1
			 GROUP BY P.PRODUCT_NO, P.PRODUCT_NAME, P.PRICE, A.FILE_NO, A.FILE_PATH || A.CHANGE_NAME, P.COMPANY, P.INGREDIENT, P.ORIGIN, P.PRODUCT_WEIGHT, P.KCAL
</select>
	
	<select id="selectDetailProduct" resultMap="selectDetailResultSet" parameterType="_int">
		SELECT P.PRODUCT_NO,
		P.PRODUCT_NAME,
		P.PRICE,
		A.FILE_NO,
		A.FILE_PATH || A.CHANGE_NAME AS PRODUCT_IMG,
		A.FILE_LEVEL,
		COUNT(R.REVIEW_NO) AS REVIEW_COUNT,
		AVG(R.STAR) AS AVG_STAR,
		P.COMPANY,
		P.INGREDIENT,
		P.ORIGIN,
		P.PRODUCT_WEIGHT,
		P.KCAL
		FROM PRODUCT P
		LEFT JOIN REVIEW R ON P.PRODUCT_NO = R.PRODUCT_NO
		JOIN ATTACHMENT_PRODUCT A ON P.PRODUCT_NO = A.REF_PNO
		WHERE P.PRODUCT_NO = #{productNo}
		AND P.STATUS = 'Y'
		GROUP BY P.PRODUCT_NO, P.PRODUCT_NAME, P.PRICE, A.FILE_NO, A.FILE_PATH, A.CHANGE_NAME, A.FILE_LEVEL, P.COMPANY, P.INGREDIENT, P.ORIGIN, P.PRODUCT_WEIGHT, P.KCAL
</select>
	
</mapper>



<!-- 
<properties>
	<entry key="selectAllList">
		SELECT PRODUCT_NO,
			   PRODUCT_NAME,
			   PRICE,
			   PRODUCT_CATEGORY,
			   FILE_PATH || CHANGE_NAME AS "PRODUCT_IMG"
		  FROM PRODUCT P
		  JOIN ATTACHMENT_PRODUCT ON (PRODUCT_NO = REF_PNO)
		 WHERE P.STATUS = 'Y'
		   AND FILE_LEVEL = 1
		 ORDER BY PRODUCT_NO DESC
	</entry>
	<entry key="selectCategoryList">
		SELECT PRODUCT_NO,
			   PRODUCT_NAME,
			   PRICE,
			   PRODUCT_CATEGORY,
			   FILE_PATH || CHANGE_NAME AS "PRODUCT_IMG"
		  FROM PRODUCT P
		  JOIN ATTACHMENT_PRODUCT ON (PRODUCT_NO = REF_PNO)
		 WHERE P.STATUS = 'Y'
		   AND FILE_LEVEL = 1
		   AND PRODUCT_CATEGORY = ?
		 ORDER BY PRODUCT_NO DESC
	</entry>
</properties>
 -->