<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>funcCalculator.do</display-name>
    <servlet-name>funcCalculator.do</servlet-name>
    <servlet-class>com.petplace.func.controller.funcCalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funcCalculator.do</servlet-name>
    <url-pattern>/funcCalculator.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adopt.do</display-name>
    <servlet-name>adopt.do</servlet-name>
    <servlet-class>com.petplace.adopt.controller.adoptMissingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adopt.do</servlet-name>
    <url-pattern>/adopt.do</url-pattern>
  </servlet-mapping>
</web-app>