<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>communityList.do</display-name>
    <servlet-name>communityList.do</servlet-name>
    <servlet-class>com.petplace.community.controller.CommunityListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>communityList.do</servlet-name>
    <url-pattern>/communityList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>funcCalculator.do</display-name>
    <servlet-name>funcCalculator.do</servlet-name>
    <servlet-class>com.petplace.func.controller.funcCalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funcCalculator.do</servlet-name>
    <url-pattern>/funcCalculator.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.petplace.member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>communityWrite.do</display-name>
    <servlet-name>communityWrite.do</servlet-name>
    <servlet-class>com.petplace.community.controller.CommunityEnrollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>communityWrite.do</servlet-name>
    <url-pattern>/communityWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>communityInsert.do</display-name>
    <servlet-name>communityInsert.do</servlet-name>
    <servlet-class>com.petplace.community.controller.CommunityInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>communityInsert.do</servlet-name>
    <url-pattern>/communityInsert.do</url-pattern>
  </servlet-mapping>
</web-app>